html, body {
  height: 100%; margin: 0; padding: 0;
}
#map {
  float: left;
  height: 100%;
  width: 80%;
}
#info {
  float: right;
  height: 100%;
  width: 20%;
  text-align: left;
}
p {
  margin-left: 50px
}
td, th {
  text-align: center;
}
.borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
  border: none;
}
fieldset {
  border: 1px solid #DDD;
  padding: 0 1.4em 1em 1.4em;
  margin: 0 0 1em 0;
}
legend {
  width: auto;
  font-size: 1.2em;
  font-weight: bold;
  border-bottom: 0px;
  margin-bottom: 0.5em;
}
.glyphicon.glyphicon-ok {
  color: green;
}
.glyphicon.glyphicon-remove {
  color: red;
}
.glyphicon.glyphicon-minus {
  color: grey;
}
.bg-1 {
  background-color: #1abc9c;
  color: #ffffff;
}
.dropdown {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translateY(-50%);
  right: auto;
  text-align: center;
  transform: translate(-50%, 0);
}
.scrollable-menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
  left: 50%;
  right: auto;
  text-align: center;
  transform: translate(-50%, 0);
}
.btn {
  width: 150px;
}
