<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>GPS Tracking OPT</title>
  </head>
  <body>
    <div id="map"></div>
    <script>
    function initMap() {
        var myLatLng = {lat: {{lat}}, lng: {{lon}}};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 13,
            center: myLatLng
        });

        var marker = new google.maps.Marker({
            position: myLatLng,
            map: map,
            title: 'Position'
        });
    }
    </script>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDsAw71SQ1-n_jNZ9JvlrqPdKE17asyovg&signed_in=true&callback=initMap">
    </script>
    <div id="info">
    <div class="container-fluid">
      <h4>Flags:</h4>
      <table class="table borderless">
        <thead>
          <tr>
            <th class="col-md-1"></th>
            <th class="col-md-1">Actual</th>
            <th class="col-md-1">Historical</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>POWER</td>
            <td><span class="glyphicon glyphicon-minus"></span></td>
            <td><span class="glyphicon glyphicon-{{'remove' if flags['power'] else 'ok'}}"></span></td>
          </tr>
          <tr>
            <td>CASING</td>
            <td><span class="glyphicon glyphicon-{{'remove' if flags['casing'] else 'ok'}}"></span></td>
            <td><span class="glyphicon glyphicon-{{'remove' if flags['casing_h'] else 'ok'}}"></span></td>
          </tr>
          <tr>
            <td>STRAP</td>
            <td><span class="glyphicon glyphicon-{{'remove' if flags['strap'] else 'ok'}}"></span></td>
            <td><span class="glyphicon glyphicon-{{'remove' if flags['strap_h'] else 'ok'}}"></span></td>
          </tr>
          <tr>
            <td>HW_ERR</td>
            <td><span class="glyphicon glyphicon-minus"></span></td>
            <td><span class="glyphicon glyphicon-{{'remove' if flags['hardware'] else 'ok'}}"></span></td>
          </tr>
        </tbody>
      </table>
    <hr>
    <form role="form" method="post">
      <fieldset>
        <legend><input type="checkbox" id="htrActID" name="htrAct" onclick="handleAct(this)"> HTTP tracking</legend>
        <div id="htrDiv">
        <div class="checkbox" style="margin: 0"><label><input type="checkbox" id="htrCheckbox" name="htr" value="1" checked disabled>Enabled</label></div>
        </div>
      </fieldset>
      <fieldset id="smsForm">
        <legend><input type="checkbox" id="strActID" name="strAct" onclick="handleAct(this)"> SMS tracking</legend>
        <div id="strDiv" disabled>
        <div class="checkbox" style="margin-top: 0"><label><input type="checkbox" name="str" value="1" disabled checked>Enabled</label></div>
        <div class="form-group">
          <label for="phoID">Phone number:</label>
          <input type="text" name="pho" class="form-control" id="phoID" disabled>
        </div>
        </div>
      </fieldset>
      <fieldset id="tprRadio">
        <legend><input type="checkbox" id="tprActID" name="tprAct" onclick="handleAct(this)"> Tracking period</legend>
        <div id="tprDiv" disabled="disabled">
        <div class="radio"><label><input type="radio" name="tpr" value="0" disabled>15 s</label></div>
        <div class="radio"><label><input type="radio" name="tpr" value="1" disabled checked>1 min</label></div>
        <div class="radio"><label><input type="radio" name="tpr" value="2" disabled>5 min</label></div>
        <div class="radio"><label><input type="radio" name="tpr" value="3" disabled>30 min</label></div>
        </div>
      </fieldset>
      <br>
      <div style="text-align:center">
        <button type="submit" class="btn btn-default">Save & Send</button>
      </div>
    </form>
    <br>
    <div id = "alertPlace"></div>
    </div>
    <script>
    $('form').submit(function() {
        var form = $(this).serialize();
        var phone = document.forms["0"]["pho"].value;
        var actIDs = [htrActID, strActID, tprActID];

        if (form == '') {
            return false;
        }
        if (phoID.disabled == false && phone != '') {
            if (!phoneValidator(phone)) {
                showAlert("#alertPlace", "Invalid phone number!", "alert-danger");
                return false;
            }
        }
        $.post($(this).attr('action'), $(this).serialize(), function(response) {
            for (var i = 0; i < actIDs.length; i++) {
                if (actIDs[i].checked) {
                    actIDs[i].checked = false;
                    handleAct(actIDs[i]);
                }
            }
            showAlert("#alertPlace", "Configuration saved", "alert-success");
        },'text');
        return false;
    });
    </script>
    </div>
  </body>
</html>
