<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <style>
    #map {
      height: 50%;
      width: 100%;
    }
    #info {
      height: 50%;
      width: 100%;
    }
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDsAw71SQ1-n_jNZ9JvlrqPdKE17asyovg&signed_in=true">
    </script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
            namespace = '/{{ dev }}';
            devsocket = io.connect('http://' + document.domain + ':' + location.port + namespace);
            globsocket = io.connect('http://' + document.domain + ':' + location.port + '/');

            globsocket.on('connect', function() {
                globsocket.emit('new connection', {device: '{{ dev }}'});
            });

            devsocket.on('newpos', function(pos) {
                marker.setPosition(pos);
                map.setCenter(pos);
            });

            devsocket.on('newgpgsv', function(msg) {
                    draw_gpgsv(msg);
            });

            devsocket.on('newgpgsa', function(msg) {
                    draw_gpgsa(msg);
            });

            devsocket.on('route', function(msg) {
                if (path != null) {
                    path.setMap(null);
                }

                path = new google.maps.Polyline({
                    path: msg.positions,
                    geodesic: true,
                    strokeColor: '#FF0000',
                    strokeOpacity: 1.0,
                    strokeWeight: 2
                });

                path.setMap(map);
            });
        });

        $(function() {
            var myPos = {lat: {{lat}}, lng: {{lon}}};
            map = new google.maps.Map(document.getElementById('map'), {
                zoom: 13,
                center: myPos
            });

            marker = new google.maps.Marker({
                position: myPos,
                map: map,
                title: 'Position'
            });

            path = null;
        });

        function draw_gpgsv(msg) {
            var parent = document.getElementById("sats");
            var json = msg;
            var size;

            delete json["GPGSV"];
            while(parent.firstChild){
                parent.removeChild(parent.firstChild);
            }
            for (var key in json) {
                var div = document.createElement("div");
                var canvas = document.createElement("canvas");

                div.className = "span1";
                parent.appendChild(div);
                div.appendChild(canvas);
                canvas.width = div.offsetWidth;
                canvas.height = div.offsetHeight;

                var ctx = canvas.getContext("2d");
                ctx.fillStyle = db2color(parseInt(json[key]));
                ctx.fillRect(0, canvas.height, canvas.width, -(parseInt(json[key])*canvas.height)/100);
                size = canvas.width/2;
                ctx.font = size.toString() + "px Arial";
                ctx.fillStyle = "black";
                ctx.textAlign = "center";
                ctx.fillText(json[key], canvas.width/2, canvas.height - ((parseInt(json[key])*canvas.height)/100) - 5);
                ctx.fillText(key, canvas.width/2, canvas.height - 5);
            }
        }

        function db2color(db) {
            if (db < 10) {
                return "red";
            }
            if (db < 20) {
                return "orange";
            }
            if (db < 30) {
                return "yellow";
            }
            if (db < 50) {
                return "lightgreen";
            }
            if (db >= 50) {
                return "darkgreen";
            }
        }

        function draw_gpgsa(msg) {
            if ($(msg).length == 1) {
                var gpgsa = msg['gpgsa'];
            } else {
                var gpgsa = msg;
            }
            var fix = document.getElementById("fix");
            var pdop = document.getElementById("pdop");
            var hdop = document.getElementById("hdop");
            var vdop = document.getElementById("vdop");
            switch (parseInt(gpgsa[2])) {
                case 1:
                    fix.innerHTML = "FIX: not available";
                    break;
                case 2:
                    fix.innerHTML = "FIX: 2D";
                    break;
                case 3:
                    fix.innerHTML = "FIX: 3D";
                    break;
                default:
                    fix.innerHTML = "FIX: none";
                    break;
            }
            pdop.innerHTML = "PDOP: " + gpgsa[gpgsa.length - 3];
            hdop.innerHTML = "HDOP: " + gpgsa[gpgsa.length - 2];
            vdop.innerHTML = "VDOP: " + gpgsa[gpgsa.length - 1];
        }
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>GPS Tracking OPT</title>
  </head>
  <body>
    <div id="map"></div>
    <div id="info">
      <div id="sats" class="row-fluid"></div>
      <div id="sats_info" class="row-fluid">
          <div class="span4"><h5 id="fix">FIX: </h5></div>
          <div class="span4"><h5 id="pdop">PDOP: </h5></div>
          <div class="span4"><h5 id="hdop">HDOP: </h5></div>
          <div class="span4"><h5 id="vdop">VDOP: </h5></div>
      </div>
      <script>
        draw_gpgsv({{gpgsv | safe}});
      </script>
      <script>
        draw_gpgsa({{gpgsa | safe}});
      </script>
    </div>
  </body>
</html>
