<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>GPS Tracking OPT</title>
  </head>
  <body>
      <canvas id="myCanvas" width="1000" height="1000"></canvas>
      <script>
        var canvas = document.getElementById("myCanvas");
        var ctx = canvas.getContext("2d");
        var json = {{gpgsv | safe}};
        var cnt = parseInt(json["GPGSV"]);
        var i;
        delete json["GPGSV"]
        i = 0;
        for (var key in json) {
                ctx.fillStyle = db2color(parseInt(json[key]));
                ctx.fillRect(55*i, 200, 50, -2*parseInt(json[key]));
                ctx.font = "30px Arial";
                ctx.fillStyle = "black";
                ctx.fillText(json[key], 10 + (55*i), 190);
                ctx.fillText(key, 10 + (55*i), 230);
                i++;
            }
        function db2color(db) {
            if (db < 10) {
                return "red";
            }
            if (db < 20) {
                return "orange";
            }
            if (db < 30) {
                return "yellow";
            }
            if (db < 50) {
                return "lightgreen";
            }
            if (db >= 50) {
                return "darkgreen";
            }
        }
    </script>
  </body>
</html>
